
.footer-contents {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 24px;

  p { max-width: 515px; opacity: 1; }
}
